.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.logo-container {
    padding: 10px;
}
.display {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
}

.App {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-around;
    margin: 12px auto;
}

.left {
    display: flex;
    flex-direction: column;
    width: 74%;
}

.right {
    width: 24%;
    display: flex;
    justify-content: center;
}

.right .btn-container {
    width: 100%;
}

.special-container, .number-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn-container {
    width: 33%;
    display: flex;
    justify-content: center;
}

.button {
    color: white;
    border: none;
    border-radius: 50%;
    font-family: monospace;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 34px;
    margin: 6px;
    padding: 10px 20px;
}

.number {
    background-color: rgb(48, 48, 180);
}

.operator {
    background-color: rgb(143, 189, 226);
}

.special, .extra-special {
    background-color: rgb(111, 111, 233);
}

.extra-special {
    width: 55%;
    font-size: 26px;
    text-align: start;
    padding-left: 10px;
}

.zero {
    width: 100%;
    border-radius: 40%
}